/Practice/nbproject/private/
/Practice/build/
/Sesonal1/nbproject/private/
/Sesonal1/build/
/Lab-5/nbproject/private/
/Lab-5/build/
/Hello/nbproject/private/
/Hello/build/
/LAB-7/nbproject/private/
/LAB-7/build/
/LAB-7/dist/
/LAB-8/nbproject/private/
/LAB-8/build/
/HelloWorldServlet/nbproject/private/
/HelloWorldServlet/build/
/Online-store/nbproject/private/
/Online-store/build/
/StudentData/nbproject/private/
/StudentData/build/
/StudentData/dist/
/Exp-4/build/
/Exp-4/nbproject/private/
/Exp-6/build/
/Exp-6/dist/
/AddMul/nbproject/private/
/AddMul/build/
/AddMul/dist/
/Exp-7/nbproject/private/
/Exp-7/build/
/RequestDispatcherDemo/nbproject/private/
/RequestDispatcherDemo/build/
/Expriment-7/nbproject/private/
/Expriment-7/build/
/Expriment-7/dist/
/Exp-5/nbproject/private/
/Exp-5/build/
/SimpleExampleJsp/nbproject/private/
/SimpleExampleJsp/build/
/EasyJsp/nbproject/private/
/EasyJsp/build/
/LAB-9/nbproject/private/
/JSPdemo/nbproject/private/
/JSPdemo/build/
/LAB-12/nbproject/private/
/LAB-12/build/
/Exp-8/nbproject/private/
/Exp-8/build/
/Exp-8/dist/
/Exp-9/nbproject/private/
/Exp-9/build/
/SQLCRUD/nbproject/private/
/SQLCRUD/build/
/SQLCRUD/dist/
/Exp-10/nbproject/private/
/Exp-10/build/
/PreaperStatement/nbproject/private/
/PreaperStatement/build/
/V_TransctionManagement/nbproject/private/
/V_PreaperStatement/nbproject/private/
/V_TransctionManagement/build/
/V_Servlet_Demo/nbproject/private/
/V_Servlet_Demo/build/
/V_SessionManagement/nbproject/private/
/V_SessionManagement/build/
/DesignPattern/nbproject/private/
/DesignPatterns/nbproject/private/
/V_DesignPatterns/nbproject/private/
/V_DesignPatterns/build/
/V_JavaBean/nbproject/private/
/V_JavaBeanDemo/nbproject/private/
/V_JavaBeanDemo/build/
